<!-- <p>about works!</p> -->
<section class="count mt-5">
    <div class="row m-0">
     <div class="col-lg-5 col-md-5 col-sm-5 col-12">
     <div class="section-counter">
         <div class="style-tag-a mb-4">
             <p>&nbsp;</p>
         </div>
          <img src="img/about-us.jpg" class="img-fluid style-img" alt="">
        </div>
      <br> <br> <br>
     </div>
     <div class="col-lg-7 col-md-7 col-sm-7 col-12 pl-0">
     <div class="heading-tag-b mb-4">
             <p>About us</p>
          </div>
        
             <p>The Maldives is a nation of islands in the Indian Ocean, that spans across the equator. The country is comprised of 1192 islands that stretch along a length of 871 kilometers. While the country covers an area of approximately 90,000 square kilometers, only 298 square kilometers of that is dry land. The islands are grouped into a double chain of 26 atolls.
                The country's unique geography mesmerizes the visitor. Reefs that offer bands of color, tiny jewel-like islands rimmed with the whitest of soft sand surrounded by the clearest shallow waters that one can imagine. Only 200 of the islands are inhabited, and a select few on each of the atolls are resorts and some of the islands are used for industry and agriculture.
                The beauty of the Maldives is not only above the water. The Maldives is home to about five percent of the planet’s reefs that comes with an explosion of color contributed by soft and hard corals that form them. The reefs are home to a thousand species of fish. Lured by the rich nutrients that flow in with the currents, large pelagic fishes such as manta rays and whale sharks also make the Maldives their home.</p>
             
        
     </div>
     </div>
 </section>